<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DarEn BLOG || CONTACT</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <!-- themify CSS -->
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="css/liner_icon.css">
  <link rel="stylesheet" href="css/search.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="css/slick.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!--::header part start::-->
  <% include ./partials/header %>
  <!-- Header part end-->

<form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
    <input type="file" name="imgUploader" multiple />
    <input type="submit" name="submit" id="btnSubmit" value="Upload" />
</form>
  
  <!-- footer part start-->
  <% include ./partials/footer %>
  <!-- footer part end-->

  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- particles js -->
  <script src="js/contact.js"></script>
  <!-- ajaxchimp js -->
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <!-- validate js -->
  <script src="js/jquery.validate.min.js"></script>
  <!-- form js -->
  <script src="js/jquery.form.js"></script>
  <script src="js/mail-script.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
</body>

</html>